.container {
  max-width: 1200px;
  margin: 20px auto;

  display: flex;
  justify-content: space-between;
}

body {
  position: relative;
  font-family: Menlo, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,101,106,1) 0%, rgba(9,196,234,1) 100%, rgba(15,185,219,1) 100%, rgba(0,212,255,1) 100%);
}